/* 头部 */
.zHeader{
    width: 100%;
    height: 56px;
    background: #ffe300;
}
.nav-zHe{
    width: 1500px;
    height: 56px;
    margin: 0 auto;
    background: #ffe300;
}
.logo{
    float: left;
    height: 56px;
    width: 100px;
    padding: 0 20px;
}
.logo>a>img{
    text-align: center;
    width: 100px;
    padding-top: 50%;
    margin-top: -30px;
}
.header-menu-bar{
    height: 56px;
    margin: 0 auto; 
    /* text-align: center; */
    margin-left: 200px;
}
.header-menu-bar>ul{
    height: 56px;
    margin: 0 auto;
}
.header-menu-bar>ul>li{
    float: left;
    cursor: pointer;
    height: 56px;
    line-height: 56px;
    padding: 0 24px;
    font-size: 15px;
}
.header-menu-bar>ul>li>a{
    font-weight: 500;
    color: black;
}
.header-menu-bar li>a>i{
    display:inline-block;
    background-image: url(../img/nav-more.svg);
    background-repeat: no-repeat;
    background-position: left center;
    width: 20px;
    height: 56px;
}
.serch{
    /* position: absolute;
    top: 0;
    right: 192px; */
    margin-left: 300px;
    float: left;
    width: 60px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    cursor: pointer;
}
.serch>i{
    display: inline-block;
    background: url(../img/nav-search.svg);
    width: 20px;
    height: 20px;
    margin-top: 18px;
}
.user-center{
    width: 192px;
    height: 56px;
    float: left;
    /* position: absolute;
    top: 0;
    right: 0; */
}
.header-upload{
    float: left;
    position: relative;
}
.upload-link{
    height: 20px;
    padding: 18px 16px;
    display: inline-block;
}
.upload-link>i{
    content: "";
    display: inline-block;
    background: url(../img/nav-upload.svg) center center no-repeat;
    width: 30px;
    height: 20px;
}
.unlogin{
    float: left;
    line-height: 60px;
}
.unlogin a{
    float: left;
    cursor: pointer;
    position: relative;
}
.unlogin a{
    padding: 0;
    font-size: 15px; 
    color: black;   
    margin-left: 15px;
}

.unlogin a:hover {
    color: rgb(0, 0, 0);
}
.header-menu-bar li:hover,
.serch:hover,
.header-upload:hover
{
    background-color:rgb(22, 22, 22);
}
.header-menu-bar ul>li:hover a
{
    color:#ffe300;
    font-weight: bold;
}
.header-menu-bar li:nth-child(8):hover i,
.serch:hover i,
.header-upload:hover i
{
    /* filter: brightness(700%); */  
    position: relative;
    filter: drop-shadow(0px 100px 0 #ffe300);
    bottom: 100px; 
}

.chekColor{
    width: 40px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    text-align: center;
    padding: 10px;
    background-color: #f6d850;
    border-radius: 10px;
    opacity: 0.1;
    transition: 1s;
    z-index: 9;
}
.chekColor::before{
    content: "";
    background: url(../img/OIP.png) no-repeat;
    background-size: 50px;
    position: absolute;
    top: -45px;
    left: 5px;
    z-index: 9;
    width: 50px;
    height: 50px;
}
.chekColor::after{
    content: "";
    background: url(../img/1656ebb9250e998.png) no-repeat;
    background-size: 30px;
    position: absolute;
    bottom: -10px;
    left: 60px;
    z-index: 9;
    width: 79px;
    height: 70px;
}
.chekColor:hover{
    opacity: 1;
}
.chekColor input{
    width: 30px;
    height: 30px;
    background-color: rgb(97, 97, 97,0);
}
.chekColor button{
    width: 24px;
    height: 24px;
    margin-bottom: 8px;
    border-radius: 6px;
    border: 2px solid white;
}


.toTop{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: rgb(97, 97, 97,0.5);
    bottom: 30px;
    right: 50px;
    border-radius: 4px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    z-index: 9;
}
.toTop a{
    color: white;
}
/* 尾部 */
footer{
    width: 100%;
    height: 230px;
    background: #282828;
    bottom: 0;
}
.footer-wrapper{
    width: 1380px;
    height: 230px;
    margin: 0 auto;
    background: #282828;
    color: #666;
    font-size: 14px;
    font-family: 'icomoon';
}
.footer-wrapper-top{
    width: 1380px;
    height: 130px;
    background: #282828;
    border-bottom: 1px solid #333333;
    align-items: center;
    justify-content: space-between;
}
.footer-wrapper-top-left{
    float: left;
}
.footer-wrapper-top-left a {
    line-height: 130px;
    margin-right: 24px;
}
.footer-wrapper-top-left::before{
    content: "";
    display: inline-block;
    background: url(../img/phone.svg);
    width: 14px;
    height: 23px;
    margin-right: 3px;
    margin-bottom: -3px;
}
.footer-wrapper-top-right a{
    float: right;
    font-size: 25px;
    margin-left: 40px;
    line-height: 130px;
}
.footer-wrapper-top-left a:hover{
    color: rgb(185, 184, 184);
}
.footer-wrapper-top-right a:nth-child(2):hover{
    color: green;
}
.footer-wrapper-middle,
.police{
    width: 1380px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 50px;
}
.footer-wrapper-middle i,
.police i {
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 20px;
    background: #666666;
    vertical-align: middle;
}
.footer-wrapper-middle a:hover,
.police a:hover{
    color: rgb(185, 184, 184);
}
.footer-copy-right{
    float: right;
}
/* 尾部 */