 /* 位置 */
.job-nav-wrap{
    height: 50px;
    line-height: 50px;
    background-color: #fafafa;
    border-bottom: 1px solid #e5e5e5;
}
.job-nav-out{
    width: 1080px;
    height: 100%;
    margin: 0 auto;
}
.job-nav-out span{
    line-height: 50px;
    font-size: 20px;
    color: black;
    float: left;
}
.job-nav-out a{
    float: left;
    margin-left: 10px;
}
.job-nav-out ul{
    position: absolute;
    left: 50%;
    margin: 0 0 0 -100px;
}
.job-nav-out li{
    float: left;
    padding: 0 20px;
    line-height: 50px;
    font-size: 16px;
}
.job-nav-out a:hover{
    color: chocolate;
    text-decoration:underline;
}
.job-nav-out li:hover{
    cursor: pointer;
    color: chocolate;
    border-bottom: 1px solid chocolate;
}
/* 具体内容 */
.pt-40{
    padding-top: 40px;
}
.mt-20{
    margin-top: 20px;
}
.job-body-wp{
    padding-bottom: 80px;
    background-color: rgb(238, 238, 238);
}
.job-content-wp{
    width: 1080px;
    height: 2260px;
    margin: 0 auto;
}
.job-clearfix{
    height: 100%;
    width: 100%;
}
/* 左列表 */
.side-left{
    float: left;
    width: 260px;
    height: 1000px;
    position: relative;
    overflow: hidden;
}
.sidex-left-index{
    width: 260px;
}
.side-left-user{
    width: 100%;
}
.side-left-user a:hover{
    color: chocolate;
    text-decoration:underline;
}
.side-item{
    height: 100%;
    padding: 20px 25px;
    border-bottom: solid 1px #c4c4c4;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    background-color: rgb(255, 255, 255);

}
.dt {
    font-size: 18px;
    font-weight: 400;
    line-height: 10px;
}
.dd{
    margin-top: 10px;
    height: 100px;
    margin-bottom: 30px;
}
.dd a {
    line-height: 24px;
    font-size: 14px;
    float: left;
    width: 33%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #666;
    margin-top: 8px;
}

.side-left-two{
    width: 260px;
    height: 60px;
    border-bottom: solid 1px #c4c4c4;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    background-color: rgb(255, 255, 255);
}
.side-left-tw_u{
    color: #282828;
    padding: 18px 25px;
    line-height: 60px;
    font-size: 20px;
}
.side-left-tw_u i{
    float: right;
    margin-right: 10px;
}
.side-left-two a:hover{
    color: black;
    cursor: pointer;
}
.side-left-three{
    font-family: 'icomoon';
    padding: 20px 25px;
    border-bottom: solid 1px #c4c4c4;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    background-color: rgb(255, 255, 255);
}
.panel-header{
    font-size: 20px;
}
.panel-body ul{
    margin-top: 20px;
    position: relative;
}
.panel-body li{
    width: 100%;
    margin-top: 20px;
}
.panel-body i{
    position: absolute;
    font-size: 25px;
}
.panel-body p{
    font-size: 13px;
    text-indent: 3em;
}
.index-aside-four{
    padding: 20px;
    border-bottom: solid 1px #c4c4c4;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    background-color: rgb(255, 255, 255);
}
.index-aside-four p{
    text-align: center;
    line-height: 30px;
}
.index-aside-four p:nth-child(1){
    font-size: 14px;
    color: rgb(73, 73, 73);
    padding-bottom: 20px;
}
/* 左列表 */

/* 右列表 */
/* 搜索 */
.index-article{
    float: right;
    width: 790px;
}
.index-searchbar-wrap{
    width: 790px;
    height: 50px;
}
.index-serchar{
    width: 100%;
    height: 50px;
    background-color: darkorange;
    overflow: hidden;
}
.index-serchar input{
    box-sizing: border-box;
    border: 1px solid #ccc;
    float: left;
    width: 85%;
    height: 100%;
    text-indent: 1em;
    color: #ccc;
}
.index-serchar button{
    float: right;
    width: 15%;
    height: 100%;
    background-color: #ffe300;
    border: none;
    font-size: 16px;
    color: rgb(87, 87, 87);
}
/* 热点 */
.index-search-hot{
    width: 790px;
    height: 22px;
    margin-top: 10px;
    font-size: 13px;
}
.index-search-hot a{
    margin-left: 10px;
}

/* 广告 */
.index-article-banner{
    width: 790px;
    height: 160px;
    margin-top: 27px;
    background-color: darksalmon;
}

.slider{
    width: 790px;
    height: 160px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.slider:hover 
.boxBtnLeft{
opacity: 1;
}
.slider:hover
.boxBtnRight{
opacity: 1;
}
.boxBtnLeft,
.boxBtnRight{
    font-family: 'icomoon';
    position: absolute;
    top: 50%;
    margin-top: -10px;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background: rgba(0,0,0,.5);
    font-size: 30px;
    text-align: center;
    text-indent: 0.2em;
    line-height: 30px;
    color: #fff;
    border-radius: 50%;
    opacity: 0;
}
.boxBtnLeft:hover,
.boxBtnRight:hover{
    color: #ffe300;
}
.boxBtnRight{
    margin-left: 745px;
    text-indent: -0.3em;
}

.advtop{
    height: 300px;
    /* background-color: #ccc; */
    overflow: hidden;
}
.advtop_u{
    width: 1380px;
    height: 300px;
    /* background-color:#999; */
    margin: 0 auto;
}
.advtop_u>li{
    background-color: seagreen;
}
.advtop_u>li>a>img{
    float: left;
    margin: 20px 10px; 
    border-radius: 5px;
}
.box{
    width: 2370px;
    height: 100%;
}
.box li{
    height: 100%;
    width: 790px;
    float: left;
}
.box li:nth-child(1){
    background: url(../img/baf85ef0189600000133315faf40.jpg);
    background-size: 790px 160px;
}

.box li:nth-child(2){
    background: url(../img/eca45f815e6c11014252e8636750.jpg);
    background-size: 790px 160px;
}

.box li:nth-child(3){


    background: url(../img/08075f701b4211014252e8f153e8.jpg);
}

/* 推荐 */
.index-aricle-control{
    width: 790px;
    height: 54px;
    border-bottom: solid 1px #c4c4c4;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    background-color: rgb(255, 255, 255);
}
.index-aricle-control a{
    float: right;
    line-height: 54px;
    margin-right: 20px;
}
.index-aricle-control a:hover{
    color: chocolate;
}
.tab-category a{
    float: left;
    line-height: 54px;
    font-size: 18px;
    margin-left: 20px;
}
.tab-category a:hover{
    color: rgb(75, 75, 75);
}
.tab-category a:nth-child(1){
    margin-top: -2px;
    border-bottom: 2px solid chocolate;
    color: chocolate;
}

/* 岗位 */
.index-jobs-list{
    width: 790px;
}
.index-jobs-out{
    border-bottom: solid 1px #c4c4c4;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    background-color: rgb(255, 255, 255);
}
.index-jobs{
    padding: 20px 25px;
    height: 60px;

}
.job-left{
    float: left;
}
.job-name a{
    font-size: 20px;
    color: black;
}
.job-name span{
    margin-left: 10px;
}
.job-con{
    margin-top: 10px;
}
.job-con strong{
    font-size: 15px;
    color: chocolate;
}
.job-con span{
    font-size: 12px;
    margin-left: 10px;
    color: rgb(61, 61, 61);
}
.pic-box a{
   float: left;
}
.job-right{
    float: right;
    margin-right: 100px;
}
.company-name{
    font-size: 15px;
    margin-left: 80px;
    line-height: 25px;
}
.item-footer-jobs{
    background-color: #fafafa;
    width: 790px;
    height: 28px;
    line-height: 28px;
    padding: 11px 0px;

}
.job-slogn {
    float: left;
    margin-left: 20px;
    line-height: 28px;
    width: 435px;
    font-size: 14px;
    color: #666;
}
.job-tags{
    float: right;
    width: 320px;
    height: 28px;
}
.job-tags span {
    display: inline-block;
    line-height: 26px;
    font-size: 14px;
    color: #666;
    padding: 0 10px;
    border: solid 1px #ededed;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 16px;
}
.pageNav-loading{
    width: 790px;
}
.pageNav-loading a{
    text-align: center;
    display:block;
    font-size: 14px;
    line-height: 38px;
    background: #ffe300;
    border-color: #ffe300;
    color: #444;
}
.pageNav-loading a:hover{
    background: #ffd000;
    color: #282828;
}